* {
    margin: 0px;
    padding: 0px;
}

/* header styles */

.flower-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    max-width: 1920px;
    gap: 97px;


}

.header {
    padding: 147px 0px 167px 240px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    /* line-height: 30px; 166.667% */
    margin-top: 32px;
    margin-bottom: 32px;

}

.flower-header {
    padding: 50px 240px 0px 0px;

}

.btn {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;

}

/* featured flowers section styles */
#ffs {
    text-align: center;
    /* margin: 178px 240px 128px 240px; */

}

.featured-flowers-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 178px;
    margin-bottom: 24px;
}

.featured-flowers-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 48px;
    /* margin-bottom: 200px; */
}

.flowers {
    margin-top: 48px;
}

/* images styles */
#img-a {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
}

#img-b {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
}

#img-c {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px;
}

.anchors-div {
    margin-top: 32px;
    margin-bottom: 128px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

#a {
    margin-left: 250px;
    margin-right: 250px;

}

/* service section styles */

#service {
    display: flex;
    /* text-align: center; */
    justify-content: space-around;
    /* padding: 86px 175px 87px; */
    margin: 86px 175px 87px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

/* .delivery-man .flower-1  .customer-service  "," must be added */
.delivery-man,
.flower-1,
.customer-service {
    padding-top: 86px;
}

.dmd,
.f1-d,
.csd {
    padding-bottom: 87px;
    margin-bottom: 128px;
}

/* offer section styles */
#offer {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    max-width: 1920px;

    /* text-align: center; */
    align-items: center;
    justify-content: space-around;

    .offer-section {
        text-align: center;
    }


}

.offer-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    padding-top: 230px;
}

span {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

.offer-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;


}

.btn-a {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;

}

.hot-deal-image {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* instagram section styles */

.instagram-section {
    text-align: center;
}

.insta-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}

.insta-description {

    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;

}

.insta-pic {
    margin-right: 24px;
    margin-bottom: 128px;

}

/* latest deals section */
.lds-section {
    background-image: url('/images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    text-align: center;
    max: width 1440px;
    border-radius: 8px;
margin: 0px 140px 128px;


}

.lds-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 5px;
    padding-top: 122px;
    padding-left: 533px;
    padding-right: 534px;


}

.lds-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;

}

input {
    padding: 23px 513px 22px 22px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    margin-right: 16px;
    margin-bottom: 121px;


}
